.invisible {
    display: none;
}

.flex {
    display: flex;
}

#weball-widget {
    position: absolute;
    width: 10vw;
    height: 40%;
    min-height: 520px;
    min-width: 180px;
    background-color: white;
    color: black;
    border-style: solid;
    border-radius: 6px;
    border-color: rgb(200, 200, 200);
    padding: 16px;
    gap: 8px;
    flex-direction: column;
    right: 50px;
    bottom: 50px;
    transition:all 0.2s ease-in-out;
}

#weball-button {
    display: inherit;
    right: 50px;
    bottom: 50px;
    position: absolute;
    border-radius: 50%;
    background-color: blue;
    color: white;
    font-size: 36pt;
}

.weball-widget-button:hover {
    box-shadow:0 0 30px 0 #0000FF;
    cursor: grab;
    border-color: black;
    border-radius: 6px;
}

#weball-widget-exit-button {
    background-color: red;
    color: white;
    width: 100%;
    height: 50%;
}

.weball-widget-button {
    font-size: 1vh;
    background-color: rgb(220, 220, 220);
    width: 100%;
    height: 100%;
    margin: 4px;
    border-color: rgb(200, 200, 200);
    border-style: solid;
    text-align: center;
    font-weight: bold;
}

.selected {
    background-color: blue;
    color: white;
}
