.weball-inverted {
  filter: invert(100%) !important
}

.weball-gray-scale {
  filter: grayscale() !important;
}

.weball-contrast {
  filter: contrast(200%) !important;
}

.weball-saturation {
  filter: saturate(200%) !important;
} 

.weball-brightness {
  filter: brightness(200%) !important;
}

.weball-sepia {
  filter: sepia(50%) !important;
}

.weball-dyslexia {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.weball-letter-spacing-15 {
  letter-spacing: 1.5px !important;
}

.weball-letter-spacing-25 {
  letter-spacing: 2.5px !important;
}

.weball-letter-spacing-35 {
  letter-spacing: 3.5px !important;
}

.weball-word-spacing-5 {
  word-spacing: 5px !important;
}

.weball-word-spacing-10 {
  word-spacing: 10px !important;
}

.weball-word-spacing-15 {
  word-spacing: 15px !important;
}

.weball-zoom {
  /* scale: 2; */
  transform-origin: 0 0;
  transform: scale(2);
  /* zoom: 200% !important; */
  /* -moz-transform: scale(2) !important;  */
}

.weball-zoom-pointer {
  cursor: url('http://52.47.171.54:8081/resources/pointer.weball-svg'), auto !important;
}

.weball-highlight {
  filter: contrast(200%) !important;
  border-style: solid !important;
  border-width: 1px !important;
}
